/* ************** Base Styles ******************* */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --dark-bg-color: #efefef;
  --dark-panel: #dddddd;
  --light-bg-color: #f7f7f7;
  --accent-red: #ff3b3f;
  --accent-blue: #caebf2;
  --light-text: #f7f7f7;
  --dark-text: #565656;
  --shadow-color: #dddddd;
  font-family: 'Open Sans', 'Segoe UI', 'Arial', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.active-link {
  color: var(--accent-red) !important;
  border-bottom: 2px solid var(--accent-red) !important;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  display: block;
  width: fit-content;
}

/* *************** Site Header Styles **************** */
.site-header {
  background-color: var(--light-bg-color);
  color: var(--dark-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  height: 60px;
}

.site-header > * {
  width: fit-content;
}

.site-header a {
  color: var(--dark-text);
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 600;
  border-bottom: 2px solid var(--light-bg-color);
  transition: border 200ms ease;
}

.site-header a:hover {
  border-bottom: 2px solid var(--dark-text);
}

/* ******* End site header styles ******** */

/* ******* Hero Styles ***************** */
.hero-section {
  background-color: var(--dark-bg-color);
  color: var(--dark-text);
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.hero-image {
  background-image: url('assets/hero_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale() opacity(0.1);
  width: 100%;
  height: calc(100vh - 60px);
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.hero-section div {
  z-index: 1;
}

.hero-section h1 {
  font-size: 80px;
}

.hero-section p {
  margin-bottom: 16px;
}

.cta {
  background-color: var(--accent-red);
  color: var(--light-text);
  width: auto;
  text-align: end;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 200ms ease, background-color 200ms ease, color 200ms ease;
}

.cta:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--accent-red);
  border: 2px solid var(--accent-red);
}

/* ********* End hero styles *********** */

/* ********* About section styles *********** */

.about-section {
  background-color: var(--light-bg-color);
  color: var(--dark-text);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.about-section h2 {
  text-align: center;
  font-size: 60px;
}

.about-section p {
  text-align: center;
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: var(--accent-blue);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* ******** End about section ************* */

/* ******* Product section styles ********* */
.product-section {
  min-height: 100vh;
  background-color: var(--dark-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  background-color: var(--light-bg-color);
  color: var(--dark-text);
  width: 320px;
  height: 480px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 8px 16px 16px var(--shadow-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.card > * {
  z-index: 10;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 200px;
  border-radius: 50%;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--dark-panel);
  transform: skewY(345deg);
  transition: 0.5s ease;
}

.card:hover::before {
  transform: skewY(390deg);
  top: -70%;
}

.product-link {
  background-color: var(--accent-red);
  color: var(--light-text);
  margin-bottom: 20px;
  position: relative;
  top: 100px;
  transition: 0.5s ease;
}

.card:hover .product-link {
  top: 0px;
}